name: reusable workflow
on:
  workflow_call:
    inputs:
      node-version:
        required: true
        type: number

jobs:
  run-npm-test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name : setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs.node-version }}
      - name: run test
        shell: bash
        run: |
          npm install
          npm test
          node -v